# Unicaudal inferior - Pizza

In [2]:
import pandas as pd
from scipy.stats import norm
import numpy as np

In [3]:
media = 350
n = 35
media_amostra = 330
desvio_padrao_amostral = 80

In [4]:
significancia = 0.05
confianca = 1 - significancia

In [5]:
z_alpha = -norm.ppf(confianca)
z_alpha

-1.6448536269514722

In [6]:
z = (media_amostra - media) / (desvio_padrao_amostral / np.sqrt(n))
z

-1.479019945774904

In [7]:
print('z(alpha) =', round(z_alpha, 3))
print('z =', round(z, 3))
if z <= z_alpha:
    print('Rejeitar H0')
else:
    print('Aceitar H0')

z(alpha) = -1.645
z = -1.479
Aceitar H0

In [8]:
p_valor = norm.cdf(z)
p_valor

0.06956749203409206

In [9]:
p_valor <= significancia

False

# Wilcoxon - Alunos Alura

In [10]:
from scipy.stats import wilcoxon
import pandas as pd

In [11]:
aluno = ["Aluno " + letra for letra in ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N"]]
notas_sem_alura = [7, 8, 6, 6, 10, 4, 2, 5, 9, 2, 4, 9, 1, 10]
notas_com_alura = [10, 10, 9, 9, 9, 7, 5, 8, 10, 6, 3, 7, 4, 8]

colunas = ["Aluno", "Nota sem Alura", "Nota com Alura"]

notas = pd.DataFrame(data=list(zip(aluno, notas_sem_alura, notas_com_alura)), columns=colunas)
notas

      Aluno  Nota sem Alura  Nota com Alura
0   Aluno A               7              10
1   Aluno B               8              10
2   Aluno C               6               9
3   Aluno D               6               9
4   Aluno E              10               9
5   Aluno F               4               7
6   Aluno G               2               5
7   Aluno H               5               8
8   Aluno I               9              10
9   Aluno J               2               6
10  Aluno K               4               3
11  Aluno L               9               7
12  Aluno M               1               4
13  Aluno N              10               8

In [12]:
significancia = 0.1

In [13]:
t, p_valor = wilcoxon(notas['Nota sem Alura'], notas["Nota com Alura"])
print(t)
print(p_valor)

14.0
0.013427734375

In [14]:
if p_valor <= significancia:
    print("Rejeitar H0")
else:
    print("Aceitar H0")

Rejeitar H0

# Mann-Whitney - Exercícios Físicos

In [15]:
from scipy.stats import mannwhitneyu
import pandas as pd

In [16]:
sem_exercicios = pd.Series([7, 6, 7, 8, 6, 8, 6, 9, 5], name="Sem exercícios")
sem_exercicios

0    7
1    6
2    7
3    8
4    6
5    8
6    6
7    9
8    5
Name: Sem exercícios, dtype: int64

In [17]:
com_exercicios = pd.Series([8, 7, 6, 6, 8, 6, 10, 6, 7, 8], name="Com exercícios")
com_exercicios

0     8
1     7
2     6
3     6
4     8
5     6
6    10
7     6
8     7
9     8
Name: Com exercícios, dtype: int64

In [18]:
significancia = 0.1

In [19]:
u, p_valor = mannwhitneyu(com_exercicios, sem_exercicios, alternative="greater")
print(f"u = {u}")

u = 50.0

In [20]:
if p_valor <= significancia:
    print('Rejeitar H0')
else:
    print('Aceitar H0')

Aceitar H0

# Correlação de Pearson

In [21]:
sigma_xy = 2178803.89
sigma_x = np.sqrt(7328865.85)
sigma_y = np.sqrt(667839.78)

ro_xy = sigma_xy / (sigma_x * sigma_y)
ro_xy

0.9848353154545793

# Obtendo Betas

In [22]:
import statsmodels.api as sm

In [23]:
dataset = {
    "Y": [670, 220, 1202, 188, 1869, 248, 477, 1294, 816, 2671, 1403, 1586, 3468, 973, 701, 5310, 10950, 2008, 9574, 28863, 6466, 4274, 6432, 1326, 1423, 3211, 2140], # número de domicílios que possuem computador
    "X": [1.59, 0.56, 2.68, 0.47, 5.2, 0.58, 1.32, 3.88, 2.11, 5.53, 2.6, 2.94, 6.62, 1.91, 1.48, 10.64, 22.39, 4.2, 21.9, 59.66, 14.22, 9.57, 14.67, 3.28, 3.49, 6.94, 6.25] # renda total recebida por pessoas de 10 anos ou mais, em cada um dos estados brasileiros (dividido por 1.000.000)
}

In [24]:
dataset = pd.DataFrame(dataset)
dataset.head()

      Y     X
0   670  1.59
1   220  0.56
2  1202  2.68
3   188  0.47
4  1869  5.20

In [25]:
y = dataset.Y
y.head()

0     670
1     220
2    1202
3     188
4    1869
Name: Y, dtype: int64

In [26]:
x = sm.add_constant(dataset.X)
x.head()

   const     X
0    1.0  1.59
1    1.0  0.56
2    1.0  2.68
3    1.0  0.47
4    1.0  5.20

In [27]:
resultado_regressao = sm.OLS(y, x).fit()
resultado_regressao.params # resposta exercício 07 da aula 03

const   -168.321156
X        481.390397
dtype: float64

In [38]:
beta_2 = dataset.cov().Y.loc["X"] / dataset.X.var() # resposta exercício 07 da aula 03 - solução alternativa com fórmula do professor de AEDI
beta_1 = dataset.Y.mean() - beta_2 * dataset.X.mean()
print(f"Beta 1: {beta_1}")
print(f"Beta 2: {beta_2}")

Beta 1: -168.32115590461353
Beta 2: 481.39039694214773

In [31]:
resultado_regressao.predict([1, 2.345678])[0].round() # resposta exercício 09 da aula 03

961.0

# Obtendo o R²

In [ ]:
resultado_regressao.rsquared